p{
    margin-left: 30px;
    color: blue;
    margin-top: 15px;
    font-size: 1.5em;
}
h1,h3{
    margin-left: 30px;
    color: rgb(170, 28, 170);
    margin-top: 15px;
    font-size: 1.5em;
}